app-grid {
    width: 1300px;
    height: 100%;
}

.container {
    width: 1500px;
    height: 1110px;
    background-color: #0f025a;
    margin: 0 auto;
}

.left {
    float: left;
}
.right {
    float: left;
    margin: 0 15px;
}
